<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>holiday.css template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.0"
    />
  </head>

  <body>
    <header>
      <h1>
        <a href="https://evgenyorekhov.github.io/holiday.css/">holiday.css</a>
        template
      </h1>
    </header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li>
          <span>Menu</span>
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <main>
      <p>
        Use right click and "Save as..." to save this page.
      </p>
    </main>
    <footer></footer>
  </body>
</html>
