:root {
  color-scheme: light dark;

  --border-color: #dbdbdb;
  --border-hover-color: #b5b5b5;
  --background-color: #fff;
  --highlighted-background-color: #f5f5f5;
  --text-color: #363636;
  --danger-color: #f14668;
  --danger-text-color: #fff;
  --danger-hover-color: #f03a5f;
  --success-color: #48c774;
  --success-text-color: #fff;
  --success-hover-color: #3ec46d;
  --danger-text-background-color: #fde0e6;
  --success-text-background-color: #effaf3;
  --border-radius: 0.25rem;
  --border-width: 1px;
  --code-text-color: #f14668;
  --code-background-color: #f5f5f5;
  --link-color: #3273dc;
  --link-visited-color: #b86bff;
  --link-hover-color: #363636;
  --link-active-color: #363636;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #5f6267;
    --border-hover-color: #bcbebd;
    --background-color: #202124;
    --highlighted-background-color: #292b2e;
    --text-color: #fff;
    --danger-color: #770018;
    --danger-text-color: #fff;
    --danger-hover-color: #6b0015;
    --success-color: #006624;
    --success-text-color: #fff;
    --success-hover-color: #006122;
    --danger-text-background-color: #770018;
    --success-text-background-color: #006624;
    --code-text-color: #f1a0b0;
    --code-background-color: #292b2e;
    --link-color: #90b3ed;
    --link-visited-color: #cb93ff;
    --link-hover-color: #fff;
    --link-active-color: #fff;
  }

  input::-webkit-calendar-picker-indicator {
    filter: invert();
  }
}

input {
  border-radius: var(--border-radius);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

code {
  color: var(--code-text-color);
  background-color: var(--code-background-color);
  border-color: var(--code-background-color);
}

a,
a code {
  color: var(--link-color);
  text-decoration: none;
}

a:visited,
a:visited code {
  color: var(--link-visited-color);
}

a:hover,
a:hover code {
  color: var(--link-hover-color);
}

a:active,
a:active code {
  color: var(--link-active-color);
}

button,
dialog,
textarea,
select {
  color: var(--text-color);
  background-color: var(--background-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
}

fieldset,
details {
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
}

summary {
  margin: calc(-0.5rem - var(--border-width));
  border: var(--border-width) solid transparent;
  border-radius: var(--border-radius);
}

input:not([type]),
[type="date"],
[type="datetime-local"],
[type="email"],
[type="hidden"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
[type="button"],
[type="color"] {
  color: var(--text-color);
  background-color: var(--background-color);
  border: var(--border-width) solid var(--border-color);
}

[type="reset"] {
  color: var(--danger-text-color);
  background-color: var(--danger-color);
  border: var(--border-width) solid transparent;
}

[type="submit"],
button:not([type]) {
  color: var(--success-text-color);
  background-color: var(--success-color);
  border: var(--border-width) solid transparent;
}

input:not([type]):disabled,
[type="date"]:disabled,
[type="datetime-local"]:disabled,
[type="email"]:disabled,
[type="hidden"]:disabled,
[type="month"]:disabled,
[type="number"]:disabled,
[type="password"]:disabled,
[type="search"]:disabled,
[type="tel"]:disabled,
[type="text"]:disabled,
[type="time"]:disabled,
[type="url"]:disabled,
[type="week"]:disabled,
textarea:disabled,
select:disabled {
  background-color: var(--highlighted-background-color);
}

select:enabled,
[type="date"]:enabled,
[type="datetime-local"]:enabled,
[type="time"]:enabled,
[type="month"]:enabled,
[type="week"]:enabled {
  background-color: var(--background-color);
}

button:focus,
[type="button"]:focus,
[type="color"]:focus,
[type="reset"]:focus,
[type="submit"]:focus,
button:not([type]):focus,
input:not([type]):focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="hidden"]:focus,
[type="image"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
textarea:focus,
select:focus,
summary:focus {
  border-color: var(--border-hover-color);
  outline: none;
  box-shadow: 0 0 0.2rem 0.01rem var(--border-hover-color);
}

[type="image"]:enabled:hover {
  filter: brightness(95%);
}

button:enabled:hover,
[type="button"]:enabled:hover,
[type="color"]:enabled:hover,
input:not([type]):enabled:hover,
[type="date"]:enabled:hover,
[type="datetime-local"]:enabled:hover,
[type="email"]:enabled:hover,
[type="hidden"]:enabled:hover,
[type="month"]:enabled:hover,
[type="number"]:enabled:hover,
[type="password"]:enabled:hover,
[type="range"]:enabled:hover,
[type="search"]:enabled:hover,
[type="tel"]:enabled:hover,
[type="text"]:enabled:hover,
[type="time"]:enabled:hover,
[type="url"]:enabled:hover,
[type="week"]:enabled:hover,
textarea:enabled:hover,
select:enabled:hover,
summary:hover {
  border-color: var(--border-hover-color);
}

[type="reset"]:enabled:hover {
  background-color: var(--danger-hover-color);
  border-color: transparent;
}

[type="submit"]:enabled:hover,
button:not([type]):enabled:hover {
  background-color: var(--success-hover-color);
  border-color: transparent;
}

table {
  border-collapse: collapse;
}

caption {
  font-weight: bold;
}

thead {
  border-bottom: calc(var(--border-width) * 2) solid var(--border-color);
}

tfoot {
  border-top: calc(var(--border-width) * 2) solid var(--border-color);
}

thead > tr:not(:first-child),
tbody > tr:not(:first-child),
tfoot > tr:not(:first-child) {
  border-top: var(--border-width) solid var(--border-color);
}

/* stylelint-disable-next-line plugin/stylelint-group-selectors */
thead > tr:nth-child(even),
tbody > tr:nth-child(even),
tfoot > tr:nth-child(even) {
  background-color: var(--highlighted-background-color);
}

kbd {
  background-color: var(--highlighted-background-color);
  border: var(--border-width) solid var(--border-hover-color);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 0.2rem var(--background-color);
}

kbd kbd {
  border: unset;
  border-radius: 0;
  box-shadow: inset 0 -0.2rem 0 0 var(--background-color),
    inset 0 0.2rem 0 0 var(--background-color);
}

[open] summary {
  margin-bottom: 0.5rem;
}

del {
  background-color: var(--danger-text-background-color);
}

ins {
  text-decoration: none;
  background-color: var(--success-text-background-color);
}

blockquote {
  background-color: var(--highlighted-background-color);
  border-left: 0.5rem solid var(--border-color);
}

body > footer {
  padding-top: 1rem;
  border-top: var(--border-width) solid var(--border-color);
}

hr {
  border-color: var(--border-color);
  border-style: solid;
  border-width: var(--border-width) 0 0;
}

:disabled,
[type="checkbox"][id]:disabled + [for],
[type="radio"][id]:disabled + [for] {
  opacity: 0.5;
}

:invalid:not(form) {
  border-color: var(--danger-color);
  border-style: solid;
  border-width: var(--border-width);
}

:disabled :disabled {
  opacity: unset;
}

:invalid:not([type="checkbox"]):focus {
  border-color: var(--danger-hover-color);
  outline: none;
  box-shadow: 0 0 0.2rem 0.05rem var(--danger-hover-color);
}

/* Firefox hack */
:invalid:not([type="checkbox"]):not(:focus) {
  box-shadow: none;
}

:invalid:not(form):enabled:hover {
  border-color: var(--danger-hover-color);
}
