abbr {
  cursor: help;
}

button,
summary,
[type="button"],
[type="reset"],
[type="submit"],
[type="color"],
[type="file"],
[type="range"],
label > [type="checkbox"]:enabled,
label > [type="radio"]:enabled {
  cursor: pointer;
}

[readonly] {
  cursor: default;
}

:disabled,
[type="checkbox"][id]:disabled + label[for],
[type="radio"][id]:disabled + label[for] {
  cursor: not-allowed;
}
