abbr {
  cursor: help;
}

button,
summary,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="color"],
input[type="file"],
input[type="range"],
label > input[type="checkbox"]:enabled,
label > input[type="radio"]:enabled {
  cursor: pointer;
}

[readonly] {
  cursor: default;
}

:disabled,
input[type="checkbox"][id]:disabled + label[for],
input[type="radio"][id]:disabled + label[for] {
  cursor: not-allowed;
}
