button,
input,
textarea,
select {
    border-radius: 0.25rem;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    padding: 0.5rem;
}

[type="image"] {
    vertical-align: bottom;
}

[type="image"]:hover:not(:disabled) {
    filter: brightness(95%);
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[type="color"] {
    border: 1px solid #dbdbdb;
    background: #fff;
    color: #000;
}

[type="reset"] {
    background-color: #ff3860;
    border-color: transparent;
    color: #fff;
}

[type="submit"] {
    background-color: #23d160;
    border-color: transparent;
    color: #fff;
}

[type="color"] {
    vertical-align: top;
}

label > [type="color"] {
    margin-left: 0.25rem;
}

button:hover:not(:disabled),
[type="button"]:hover:not(:disabled),
[type="reset"]:hover:not(:disabled),
[type="submit"]:hover:not(:disabled),
[type="color"]:hover:not(:disabled) {
    border-color: #b5b5b5;
}

[type="reset"]:hover:not(:disabled) {
    border-color: transparent;
    background-color: #f7375d;
}

[type="submit"]:hover:not(:disabled) {
    border-color: transparent;
    background-color: #22c65b;
}

input:not([type="button"]):not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="radio"]):not([type="reset"]):not([type="submit"]):not([type="file"]):not(:invalid),
textarea,
select,
fieldset {
    border: 1px solid #dbdbdb;
}

select:not(:disabled),
[type="date"]:not(:disabled),
[type="datetime-local"]:not(:disabled),
[type="time"]:not(:disabled),
[type="month"]:not(:disabled),
[type="week"]:not(:disabled) {
    background: #fff;
}

input:not([type="button"]):not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="radio"]):not([type="reset"]):not([type="submit"]):not([type="file"]):hover:not(:disabled):not(:invalid),
textarea:hover:not(:disabled),
select:hover:not(:disabled) {
    border-color: #b5b5b5;
}

label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

label > [type="checkbox"],
label > [type="radio"] {
    margin-right: 0.25rem;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #b5b5b5;
}

[type="checkbox"] + label,
[type="radio"] + label {
    display: inline;
    line-height: 2.25rem;
    vertical-align: top;
}

code {
    background-color: #f5f5f5;
    padding: 0.25rem;
}

pre code {
    padding: 1rem;
}

[href^="mailto:"]::before {
    content: "✉ ";
}

[href^="tel:"]::before {
    content: "✆ ";
}

dialog {
    border: none;
    border-radius: 0.25rem;
}

iframe {
    border: none;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
details[open] {
    border: 1px solid #dbdbdb;
}

details:first-of-type,
details:first-of-type > summary {
    border-radius: 0.25rem 0.25rem 0 0;
}

details:last-of-type,
details:last-of-type > summary {
    border-radius: 0 0 0.25rem 0.25rem;
}

details:not([open]) summary {
    border: 1px solid #dbdbdb;
}

details:not([open]) summary:hover {
    border-color: #b5b5b5;
}

:disabled {
    opacity: 0.5;
}

:invalid:not(form) {
    border-color: #ff3860;
    outline-color: #ff3860;
    border-width: 1px;
    border-style: solid;
}

:disabled :disabled {
    opacity: unset;
}

:invalid:not(form):hover:not(:disabled) {
    border-color: #f7375d;
}

@media (min-width: 768px) {
    body {
        max-width: 768px;
    }
}
