[href^="mailto:"]::before,
[href^="sms:"]::before {
    content: "✉ ";
}

[href^="tel:"]::before,
[href^="callto:"]::before,
[href^="skype:"]::before {
    content: "✆ ";
}

@media (min-width: 768px) {
    body {
        max-width: 768px;
    }
}
