:root {
    --max-body-width: 768px;
}

[href^="mailto:"]::before,
[href^="sms:"]::before {
    content: "✉ ";
}

[href^="tel:"]::before,
[href^="callto:"]::before,
[href^="skype:"]::before {
    content: "✆ ";
}

body {
    max-width: var(--max-body-width);
}
