body {
    margin: 0.5rem auto;
    width: calc(100% - 1rem);
}

img {
    max-width: 100%;
}

table {
    display: block;
    overflow-x: auto;
}

pre {
    overflow-x: auto;
}

code {
    padding: 0.25rem;
}

pre code {
    display: inline-block;
    min-width: 100%;
    padding: 1rem;
}

kbd {
    padding: 0.5rem;
    min-width: 2.25rem;
    min-height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.25rem;
    max-width: 100%;
    overflow: hidden;
}

kbd kbd {
    margin: 0;
    padding: 0;
    min-width: unset;
    min-height: unset;
}

kbd kbd:not(:first-child) {
    padding-left: 0.25rem;
}

kbd kbd:not(:last-child) {
    padding-right: 0.25rem;
}

audio,
video,
embed,
iframe,
object {
    width: 100%;
}

input:not([type="button"]):not([type="image"]):not([type="reset"]):not([type="submit"]),
meter,
progress {
    height: 2.25rem;
}

input:not([type="button"]):not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="radio"]):not([type="reset"]):not([type="submit"]),
select,
textarea,
meter,
progress,
output,
label {
    display: block;
    width: 100%;
}

textarea {
    min-height: 8em;
}

select {
    min-height: 2.25rem;
}

summary {
    min-height: 2.25rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    padding: 0.5rem;
}

[type="image"] {
    vertical-align: bottom;
}

[type="color"] {
    vertical-align: top;
}

label > [type="color"] {
    margin-left: 0.25rem;
}

label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

[type="checkbox"] + label,
[type="radio"] + label {
    display: inline;
    line-height: 2.25rem;
    vertical-align: top;
}

label > [type="checkbox"],
label > [type="radio"] {
    margin-right: 0.25rem;
}

[type="file"] {
    padding-top: 0.3rem;
}

blockquote {
    border-left-width: 0.5rem;
    border-left-style: solid;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 2rem;
}

blockquote > p:first-child {
    margin-top: 0;
}

blockquote > p:last-child {
    margin-bottom: 0;
}

blockquote > footer {
    margin-top: 1rem;
}
