@media (hover: hover) {
    nav ul {
        padding-left: 0;
    }

    nav ul li {
        display: inline-block;
        position: relative;
    }

    nav > ul > li {
        padding: 0.5rem;
        margin: 0;
    }

    nav ul li a {
        text-decoration: none;
        white-space: nowrap;
    }

    nav ul li ul {
        position: absolute;
        left: -9999px;
        z-index: 1;
        background-color: var(--background-color);
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        margin-left: calc(-0.5rem - 1px);
        margin-top: 0.5rem;
        padding: 0.25rem 0.5rem;
        min-width: calc(100% + 2px);
    }

    nav ul li ul li {
        width: 100%;
    }

    /* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type */
    nav ul li ul li ul {
        min-width: calc(100% + 1rem + 2px);
        margin-top: 0.75rem;
    }

    nav :focus ~ ul,
    nav :focus ~ ul ul,
    nav ul ul:focus-within,
    nav ul li:hover ul {
        left: initial;
    }

    /* stylelint-disable-next-line selector-max-universal */
    nav li > *:not(ul):not(:only-child) {
        cursor: pointer;
    }

    /* stylelint-disable-next-line selector-max-universal */
    nav li > *:not(ul):not(:only-child)::after {
        content: " ▾";
    }
}

@media not all and (hover: hover) {
    nav {
        padding-top: 2rem;
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        background-image: url('data:image/svg+xml;utf8,<svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>');
        background-repeat: no-repeat;
        background-position: top;
    }

    /* stylelint-disable-next-line selector-max-universal */
    nav > * {
        display: none;
    }

    nav:hover > ul {
        display: inherit;
    }

    /* stylelint-disable-next-line selector-max-universal */
    nav:hover > *:not(ul) {
        display: unset;
    }
}
