/* stylelint-disable
  selector-max-class,
  declaration-no-important,
  selector-no-qualifying-type
*/

.sb-show-main.sb-main-padded {
  display: flex;
  padding: unset;
  margin: 0 auto;
}

.sb-show-main.sb-main-fullscreen {
  width: unset;
  max-width: unset;
}

.docs-story {
  background-color: var(--background-color) !important;
}

select[class^="css-"] {
  color: var(--text-color);
}
